<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="4" [rowspan]="1">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="6">
    <mat-tab-group>
      <mat-tab label="버거">
        <mat-card>ㄴㅇㄹㄴㅇㄹ</mat-card>
        <mat-card>ㄴㅇㄹㄴㅇㄹ</mat-card>

      </mat-tab>
      <mat-tab label="김밥">
          <mat-card>Simple card</mat-card>
      </mat-tab>
      <mat-tab label="분식">
          <mat-card>Simple card</mat-card>
      </mat-tab>
      <mat-tab label="백반">
          <mat-card>Simple card</mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="6">

  </mat-grid-tile>
</mat-grid-list>