
.container {
    position: relative;
    height: 800px;
}
.top_div {
    position: absolute;
    height: 150px;
}
.main_div {
    position: absolute;
    left: 0px;
    width: 70%;
    height: 650px;
}
.mat_card_div_detail {
    float: right;
    margin-left: 10px;
    width: 400px;
}
.right_div {
    float: right;
    width: 30%;
    margin-top : 50px;
}