<div class="container">
  <div class="top_div">
      <img src="http://www.spc.co.kr/resources/images/p5/image/main_back.png" height="150px;" width="100%" />
  <div>
  <div class="main_div">
    <mat-tab-group>
        <mat-tab label="버거">
          <div class="mat_tab_div">
            <mat-card>
                <div class="mat_card_div_img">
                    <img src="http://www.burgerking.co.kr/Content/menu/image/main/170912_SL_PC_detail_01.jpg" alt="" style="max-width: 250px; max-height:150px;">
                    <div class="mat_card_div_detail">
                      재료 : 소고기, 토마토, 오이<p>
                      단품 : 10000원<p>
                      셋트 : 15000원<p>
                      <button mat-raised-button (click)="onClickA()">단품구매</button>
                      <button mat-raised-button (click)="onClickB()">셋트구매</button>
                    </div>
                </div>
            </mat-card>
            <div style="height: 1px;"></div>
            <mat-card>
                <div class="mat_card_div_img">
                    <img src="http://www.burgerking.co.kr/Content/menu/image/main/170912_SL_PC_detail_01.jpg" alt="" style="max-width: 250px; max-height:150px;">
                    <div class="mat_card_div_detail">
                      재료 : 온니 페페로니<p>
                      단품 : 20000원<p>
                      셋트 : 25000원<p>
                      <button mat-raised-button (click)="onClickA()">단품구매</button>
                      <button mat-raised-button (click)="onClickB()">셋트구매</button>
                    </div>
                </div>
            </mat-card>
            <div style="height: 1px;"></div>
          </div>
        </mat-tab>
        <mat-tab label="분식">
          <div class="mat_tab_div">
          <mat-card>
              <div class="mat_card_div_img">
                  <img src="http://www.yupdduk.com/images/menu/img_hunting1.jpg" alt="" style="max-width: 250px; max-height:150px;">
                  <div class="mat_card_div_detail">
                    재료 : 엽떡, 치즈, 오뎅, 파<p>
                    단품 : 10000원<p>
                    셋트 : 15000원<p>
                    <button mat-raised-button (click)="onClickA()">단품구매</button>
                    <button mat-raised-button (click)="onClickB()">셋트구매</button>
                  </div>
              </div>
          </mat-card>
          <div style="height: 1px;"></div>
          <mat-card>
              <div class="mat_card_div_img">
                  <img src="http://www.yupdduk.com/images/menu/img_stir1.jpg" alt="" style="max-width: 250px; max-height:150px;">
                  <div class="mat_card_div_detail">
                    재료 : 오돌뼈, 양배추, 사과, 배<p>
                    단품 : 20000원<p>
                    셋트 : 25000원<p>
                    <button mat-raised-button (click)="onClickA()">단품구매</button>
                    <button mat-raised-button (click)="onClickB()">셋트구매</button>
                  </div>
              </div>
          </mat-card>
          <div style="height: 1px;"></div>
        </div>
        </mat-tab>
        <mat-tab label="김밥">
          <div class="mat_tab_div">
              <mat-card>
                  <div class="mat_card_div_img">
                      <img src="http://www.kimbabcheongug.co.kr/data/file/menu/thumb-3695981767_jt7NaYCS_41c65a91653cfd30718991fa8a64adb7d8759752_600x600.jpg" alt="" style="max-width: 250px; max-height:150px;">
                      <div class="mat_card_div_detail">
                        재료 : 돈까스, 밥, 시금치<p>
                        단품 : 10000원<p>
                        셋트 : 15000원<p>
                        <button mat-raised-button (click)="onClickA()">단품구매</button>
                        <button mat-raised-button (click)="onClickB()">셋트구매</button>
                      </div>
                  </div>
              </mat-card>
              <div style="height: 1px;"></div>
              <mat-card>
                  <div class="mat_card_div_img">
                      <img src="http://www.kimbabcheongug.co.kr/data/file/menu/thumb-3695981767_yRcZBg0d_b3bdbc5398da5d5d9d610d73026bbb7fdbf562e8_600x600.jpg" alt="" style="max-width: 250px; max-height:150px;">
                      <div class="mat_card_div_detail">
                        재료 : 떡갈비, 밥, 시금치<p>
                        단품 : 20000원<p>
                        셋트 : 25000원<p>
                        <button mat-raised-button (click)="onClickA()">단품구매</button>
                        <button mat-raised-button (click)="onClickB()">셋트구매</button>
                      </div>
                  </div>
              </mat-card>
              <div style="height: 1px;"></div>
            </div>
        </mat-tab>
    </mat-tab-group>
  </div>
  <div class="right_div">
    <div>
      <mat-card>
          <div class="mat_card_div_img">
              <img src="http://www.burgerking.co.kr/Content/menu/image/main/170912_SL_PC_detail_01.jpg" alt="" style="max-width: 100px; max-height:60px;"><p>
              단품 : 10000원 * 2 = 20000원<p>
              셋트 : 20000원 * 2 = 40000원<p>
          </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
          <div class="mat_card_div_img">
              <img src="http://www.kimbabcheongug.co.kr/data/file/menu/thumb-3695981767_jt7NaYCS_41c65a91653cfd30718991fa8a64adb7d8759752_600x600.jpg" alt="" style="max-width: 100px; max-height:60px;"><p>
              단품 : 10000원 * 2 = 20000원<p>
              셋트 : 20000원 * 2 = 40000원<p>
          </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
          <div class="mat_card_div_img">
            합계 : 60000원
          </div>
      </mat-card>
    </div>
  <div>
</div>